* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --primary-color: hsl(35, 100%, 50%);
    --secondary-color: hsl(238, 27%, 28%);
    --background-color: #E4EDF1;
}

body {
    background: linear-gradient(45deg, #190361 0%, #B0F 100%);
    font-size: 1.5rem;
    display: grid;
    place-items: center;
    height: 100vh;
}

button {
    background-color: var(--primary-color);
    color: white;
    font-weight: 700;
    border-radius: .4rem;
    cursor: pointer;

    transition: background 0.3s ease;
}

button:hover {
    filter: #dd850a;
}

.hide {
    display: none;
}

.screen2 {
    display: none;
}

.screen2.show {
    display: block;
}

main {
    background: #FFF;
    box-shadow: 0rem 2.0rem 5.0rem 0rem rgba(0, 0, 0, 0.80);
    border-radius: 5px;
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;

    width: min(42.8rem, 90%);

    margin-top: -10rem;

    text-align: center;
}

/* screen1 */

h1 {
    font-family: 'Montserrat', sans-serif;  
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1.4rem;
    width: 25.8rem;
}

h1, p {
    color: var(--secondary-color);
    text-align: center;
}

p {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 2.0rem;
}

a {
    display: flex;
    justify-content: center;
}

/* screen 2 */ 

h2 {
    color: var(--secondary-color);
    font-family: 'Montserrat', sans-serif;  
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1.7rem;
    width: 29.7rem;
}

span {
    font-family: 'Dancing Script', cursive;
    font-size: 2.4rem;
    color: #000;
    text-align: center;
    font-weight: 400;

    background: var(--background-color);
    box-shadow: .2rem .2rem .2rem 0rem rgba(85, 85, 85, 0.50);
    display: flex;
    padding: 1.0rem;
    justify-content: center;
    align-items: center;
    width: 27.3rem;
    height: 8.7rem;
}

img {
    margin-top: 6.0rem;
    margin-bottom: 5.9rem;
}

button {
    background: var(--primary-color); 
    border: none;
    padding: 1.6rem;
    border-radius: .4rem;

    font-family: DM Sans;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

/* Animação */
#btnTry {
    transition: transform 0.3s ease-in-out;
  }
  
  #btnTry:hover {
    transform: translateY(-20px); /* ou qualquer valor que você preferir */
  }

  span {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }